@use '@angular/material' as mat;

// הגדרת המערכת החדשה של M3
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$green-palette,
  )
));

// החלה של ה-Theme על כל הרכיבים
@include mat.core();
@include mat.all-component-themes($theme);